<app-current-user (click)="changeContainsBadWordsEdit();changeContainsBadWordsReply();changeContainsBadWordsSave();"></app-current-user>

<section (click)="changeContainsBadWordsEdit();changeContainsBadWordsReply();changeContainsBadWordsSave();" *ngIf="post" class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-last ">
        <h2 class="mb-3">{{post.title}}</h2>
        <p>   {{post.content}}      </p>
        <p>
          <img src="" alt="" class="img-fluid">
        </p>
        <p>
          <a *ngIf="checkPostLike(post)" (click)="addPostLike(post);" style="margin-left:10rem;cursor:pointer;" class="link-warning"><img src="assets/images/heart.png" height="15rem"width="auto"></a>
          <a *ngIf="!checkPostLike(post)" (click)="removePostLike(post);" style="margin-left:10rem;cursor:pointer;" class="link-warning"><img src="assets/images/heart%20(1).png" height="15rem"width="auto"></a>
        </p>
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Life</a>
            <a href="#" class="tag-cloud-link">Sport</a>
            <a href="#" class="tag-cloud-link">Tech</a>
            <a href="#" class="tag-cloud-link">Travel</a>
          </div>
        </div>

        <div style="border-radius: 20px" class="about-author d-flex p-4 bg-light">
          <div class="bio mr-5">
            <img style="border-radius: 20px" src="assets/img/team-1.jpg" alt="Image placeholder" width="100"
                 height="auto" class="img-fluid mb-4">
          </div>
          <div class="desc">
            <h3>{{post.user.username}}</h3>
            <p>{{post.user.role}}</p>
          </div>
        </div>


        <div *ngIf="post.messages" class="pt-5 mt-5">
          <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3 *ngIf="post.messages.length>0" >Messsages:</h3>
          <div style="display: flex;">
            <h6 style="margin: 1rem 0.5rem 0.5rem 0.5rem;">from:</h6>
            <mat-form-field appearance="outline" style="font-size: 16px;">
              <mat-label>Choose Language</mat-label>
              <mat-select [(ngModel)]="From">
                <mat-option value="Auto Detect">Auto Detect</mat-option>
                <mat-option value="English">English</mat-option>
                <mat-option value="French">French</mat-option>
                <mat-option value="Arabic">Arabic</mat-option>
                <mat-option value="Italian">Italian</mat-option>
                <mat-option value="German">German</mat-option>
                <mat-option value="Spanish">Spanish</mat-option>
              </mat-select>
            </mat-form-field>
            <h6 style="margin: 1rem 0.5rem 0.5rem 0.5rem;">to:</h6>
            <mat-form-field appearance="outline" >
              <mat-label>Choose Language</mat-label>
              <mat-select [(ngModel)]="To">
                <mat-option value="English">English</mat-option>
                <mat-option value="French">French</mat-option>
                <mat-option value="Arabic">Arabic</mat-option>
                <mat-option value="Italian">Italian</mat-option>
                <mat-option value="German">German</mat-option>
                <mat-option value="Spanish">Spanish</mat-option>
              </mat-select>
            </mat-form-field>
            <a *ngIf="!translationReset" (click)="translate()" style="margin: 0.9rem 0.5rem 0.5rem 0.5rem;">translate</a>
            <a *ngIf="translationReset" (click)="resetTranslation()" style="margin: 0.9rem 1rem 0.5rem 0.5rem;">Reset</a>
          </div>
        </div>

          <ul class="comment-list" *ngFor="let m of post.messages ">
            <li  *ngIf="m.isBlocked==0||m.isBlocked==null" class="comment">
              <div class="vcard bio">
                <img src="assets/images/user.png" alt="Image placeholder">
              </div>
              <div class="comment-body" >
                <h6 style="display: inline">{{m.user.username}}</h6>
                <div style="margin-left:0.5rem;  display:inline" class="meta">{{m.datePub | dateAgo}}</div>
                <form  [formGroup]="messageFormEdit" (ngSubmit)="updateMessage(m)">
                  <div class="fixed-height">
                    <input *ngIf="!(selectedEditMessageId === m.messageId)" type="text" class="form-control" value="{{m.contenu}}" style="border-radius: 25px;" rows="1" readonly >
                  <div  *ngIf="selectedEditMessageId === m.messageId" class="input-group mb-3">
                    <input (click)="changeContainsBadWordsEdit()" type="text" formControlName="contenu" class="form-control"  style="border-radius: 25px;" rows="1" aria-describedby="button-addon2"  >
                    <button style="background-color: transparent;border: none" type="submit" ><a class="link-warning" href="#"><img src="assets/images/check.png" height="32rem"width="auto"></a></button>
                  </div>
                    <div style="margin-top: 30px" *ngIf="(selectedEditMessageId===m.messageId)&&(containsBadWordsEdit)" class="notification">
                      Notification: This Message Contains Bad Words!
                    </div>
                  </div>
                </form>
                <div style="display: flex;justify-content: space-between;">
                  <div>
                  <a *ngIf="m.messages.length==0"  (click)="selectMessage(m.messageId)" style="margin-right:10px;cursor:pointer;">Reply</a>
                  <a *ngIf="m.messages.length>0" (click)="selectMessage(m.messageId)" style="margin-right:10px;cursor:pointer;">Show Replies</a>
                  <a *ngIf="checkEdit(m)&&!(selectedEditMessageId === m.messageId)" (click)="selectEditMessage(m)" style="margin-right:10px;cursor:pointer;">Edit</a>
                  <a *ngIf="selectedEditMessageId === m.messageId" (click)="selectEditMessage(m)" style="margin-right:10px;cursor:pointer;">Cancel</a>
                  <a *ngIf="checkEdit(m)" (click)="deleteMessage(m)" style="margin-right:10px;cursor:pointer;">Delete</a>
                  </div>
                  <div class="custom-input">
                    <a *ngIf="checkMessageSignal(m)" (click)="addMessageSignal(m)" style="margin-left:2rem;cursor:pointer;" class="link-warning"><img src="assets/images/alert%20(1).png" height="15rem"width="auto"></a>
                    <a *ngIf="!checkMessageSignal(m)" (click)="removeMessageSignal(m)" style="margin-left:2rem;cursor:pointer;" class="link-warning"><img src="assets/images/alert%20(2).png" height="15rem"width="auto"></a>
                    <a *ngIf="checkMessageLike(m)" (click)="addMessageLike(m)"  class="link-warning heart"><img src="assets/images/heart.png" height="15rem"width="auto"></a>
                  <a *ngIf="!checkMessageLike(m)" (click)="removeMessageLike(m)"  class="link-warning heart"><img src="assets/images/heart%20(1).png" height="15rem"width="auto"></a>
                  </div>
                </div>
              </div>
              <div @enterExitUp *ngIf="(selectedMessageId===m.messageId)">
              <div *ngFor="let r of m.messages" class="children">

                <div *ngIf="(m.isBlocked==0||m.isBlocked==null)&&(selectedMessageId===m.messageId)" class="comment-body">
                    <h6 style="display:inline">{{r.user.username}}</h6>
                    <div style="margin-left:0.5rem;  display:inline;" class="meta">{{r.datePub| dateAgo}}</div>
                  <form [formGroup]="messageFormEdit" (ngSubmit)="updateMessage(r)">
                    <div class="fixed-height">
                    <input (click)="changeContainsBadWordsEdit()" *ngIf="!(selectedEditMessageId === r.messageId)" type="text" class="form-control" value="{{r.contenu}}" style="border-radius: 25px;" rows="1" readonly >
                    <div *ngIf="selectedEditMessageId === r.messageId" class="input-group mb-3">
                      <input (click)="changeContainsBadWordsEdit()" type="text" formControlName="contenu" class="form-control"  style="border-radius: 25px;" rows="1" aria-describedby="button-addon2">
                      <button style="background-color: transparent;border: none" type="submit" ><a class="link-warning" href="#"><img src="assets/images/check.png" height="32rem"width="auto"></a></button>
                    </div>
                      <div style="margin-top: 30px" *ngIf="(selectedEditMessageId===r.messageId)&&(containsBadWordsEdit)" class="notification">
                        Notification: This Message Contains Bad Words!
                      </div>
                    </div>
                  </form>

                  <div style="display: flex;justify-content: space-between;">
                    <div>
                    <a *ngIf="checkEdit(m)&&!(selectedEditMessageId === r.messageId)" (click)="selectEditMessage(r)" style="margin-right:10px;cursor:pointer;">Edit</a>
                    <a *ngIf="selectedEditMessageId === r.messageId"  (click)="selectEditMessage(r)" style="margin-right:10px;cursor:pointer;">Cancel</a>
                    <a *ngIf="checkEdit(r)" (click)="deleteMessage(r)" style="margin-right:10px;cursor:pointer;">Delete</a>
                    </div>
                    <div class="custom-input">
                      <a *ngIf="checkMessageSignal(r)" (click)="addMessageSignal(r)" style="margin-left:2rem;cursor:pointer;" class="link-warning"><img src="assets/images/alert%20(1).png" height="15rem"width="auto"></a>
                      <a *ngIf="!checkMessageSignal(r)" (click)="removeMessageSignal(r)" style="margin-left:2rem;cursor:pointer;" class="link-warning"><img src="assets/images/alert%20(2).png" height="15rem"width="auto"></a>
                      <a *ngIf="checkMessageLike(r)" (click)="addMessageLike(r)"  class="link-warning heart"><img src="assets/images/heart.png" height="15rem"width="auto"></a>
                    <a *ngIf="!checkMessageLike(r)" (click)="removeMessageLike(r)"  class="link-warning heart"><img src="assets/images/heart%20(1).png" height="15rem"width="auto"></a>
                    </div>
                    </div>
                  </div>
              </div>
              </div>
                <form [formGroup]="messageFormReply" (ngSubmit)="SubmitForm(m.messageId)"  @enterExitUp *ngIf="selectedMessageId === m.messageId" class="comment-body parent">
                <div>
                  <h6 class="mb-5">Add Reply</h6>
                <input (click)="changeContainsBadWordsReply()" type="text" name="" formControlName="contenu"  id="replyContent" cols="30" rows="5" class="form-control child" style="border-radius: 25px; width: 36rem;">
                  <button class="child" style="background-color: transparent;border: none" type="submit" > <a class="link-warning" href="#"><img src="assets/images/sent.png" height="32rem"width="auto"></a></button>
                  <div style="margin-top: 30px" *ngIf="(selectedMessageId===m.messageId)&&(containsBadWordsReply)" class="notification">
                    Notification: This Message Contains Bad Words!
                  </div>
                </div>
                </form>


            </li>
          </ul>
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form [formGroup]="messageFormPost" (ngSubmit)="SubmitForm(null)"  style="border-radius: 25px;" class="p-5 bg-light">
              <div class="form-group">
                <label for="message">Message</label>
                <textarea (click)="changeContainsBadWordsSave()" formControlName="contenu" name="" id="message" cols="30" rows="3" class="form-control"></textarea>
                <div *ngIf="containsBadWordsSave" class="notification">
                  Notification: This Message Contains Bad Words!
                </div>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Messsage" class="btn py-3 px-4 btn-primary">
              </div>


            </form>

          </div>
        </div>

      </div> <!-- .col-md-8 -->
      <div class="col-md-4 sidebar">
        <div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon icon-search"></span>
              <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>
        <div class="sidebar-box ">
          <div class="categories">
            <h3>Categories</h3>
            <li><a href="#">Jobs <span>(12)</span></a></li>
            <li><a href="#">Visual Assistant <span>(22)</span></a></li>
            <li><a href="#">Coffee <span>(37)</span></a></li>
            <li><a href="#">Drinks <span>(42)</span></a></li>
            <li><a href="#">Foods <span>(14)</span></a></li>
            <li><a href="#">Travel <span>(140)</span></a></li>
          </div>
        </div>

        <div class="sidebar-box ">
          <h3>Recent Forums</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(assets/images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(assets/images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(assets/images/image_3.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-box ">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">menu</a>
            <a href="#" class="tag-cloud-link">food</a>
            <a href="#" class="tag-cloud-link">sweet</a>
            <a href="#" class="tag-cloud-link">tasty</a>
            <a href="#" class="tag-cloud-link">delicious</a>
            <a href="#" class="tag-cloud-link">desserts</a>
            <a href="#" class="tag-cloud-link">drinks</a>
          </div>
        </div>

        <div class="sidebar-box ">
          <h3>Paragraph</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
        </div>
      </div>

    </div>
  </div>
</section> <!-- .section -->

<section (click)="changeContainsBadWordsEdit();changeContainsBadWordsReply();changeContainsBadWordsSave();" class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ">
          <h2>Subcribe to our Newsletter</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

