<app-current-user></app-current-user>

<section *ngIf="post" class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-last ftco-animate">
        <h2 class="mb-3">{{post.title}}</h2>
        <p>   {{post.content}}      </p>
        <p>
          <img src="" alt="" class="img-fluid">
        </p>
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Life</a>
            <a href="#" class="tag-cloud-link">Sport</a>
            <a href="#" class="tag-cloud-link">Tech</a>
            <a href="#" class="tag-cloud-link">Travel</a>
          </div>
        </div>

        <div class="about-author d-flex p-4 bg-light">
          <div class="bio mr-5">
            <img src="assets/img/team-1.jpg" alt="Image placeholder" width="100"
                 height="auto" class="img-fluid mb-4">
          </div>
          <div class="desc">
            <h3>{{post.user.name}}</h3>
            <p>{{post.user.role}}</p>
          </div>
        </div>


        <div class="pt-5 mt-5">
          <h3 class="mb-5">Messsages</h3>

          <ul class="comment-list" *ngFor="let m of post.messages ">
            <li  *ngIf="m.isBlocked==0||m.isBlocked==null" class="comment">
              <div class="vcard bio">
                <img src="assets/images/user.png" alt="Image placeholder">
              </div>
              <div class="comment-body" >
                <h6 style="display: inline">{{m.user.name}}</h6>
                <div style="margin-left:0.5rem;  display:inline" class="meta">{{m.datePub | dateAgo}}</div>
                <a style="margin-left:2rem;display:inline;horiz-align: right;" href="#" class="link-warning"><img src="assets/images/alert%20(1).png" height="13rem"width="auto"></a>
                <p>{{m.contenu}}</p>
                <p>
                  <a *ngIf="(m.messages.length==0 && selectedMessageId!=m.messageId)"  (click)="selectMessage(m.messageId)" class="reply">Reply</a>
                  <a *ngIf="m.messages.length>0" (click)="selectMessage(m.messageId)" class="reply">Show Replies</a>
                </p>
                <p></p>
              </div>
              <div @enterExitUp *ngIf="(selectedMessageId===m.messageId)">
              <div *ngFor="let r of m.messages" class="children">

                <div *ngIf="(m.isBlocked==0||m.isBlocked==null)&&(selectedMessageId===m.messageId)" class="comment-body">
                    <h6 style="display:inline">{{r.user.name}}</h6>
                    <div style="margin-left:0.5rem;  display:inline;" class="meta">{{r.datePub| dateAgo}}</div>
                    <a style="margin-left:2rem;display:inline;horiz-align: right;" href="#" class="link-warning"><img src="assets/images/alert%20(1).png" height="13rem"width="auto"></a>
                    <p>{{r.contenu}}</p>
                  </div>
              </div>
              </div>
              <div @enterExitUp *ngIf="selectedMessageId === m.messageId" class="comment-body parent" >
                <div >
                <input type="text" name="" id="replyContent" cols="30" rows="5" class="child" style="width: 40rem;">
                <a class="link-warning" href="#"><img src="assets/images/sent.png" height="32rem"width="auto"></a>
                </div>
              </div>
            </li>
          </ul>
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form [formGroup]="messageForm" (ngSubmit)="SubmitForm()"  style="border-radius: 25px;" class="p-5 bg-light">
              <div class="form-group" >
                <label for="message">Message</label>
                <textarea  formControlName="contenu" name="" id="message" cols="30" rows="10" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Messsage" class="btn py-3 px-4 btn-primary">
              </div>

            </form>
          </div>
        </div>

      </div> <!-- .col-md-8 -->
      <div class="col-md-4 sidebar ftco-animate">
        <div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon icon-search"></span>
              <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3>Categories</h3>
            <li><a href="#">Jobs <span>(12)</span></a></li>
            <li><a href="#">Visual Assistant <span>(22)</span></a></li>
            <li><a href="#">Coffee <span>(37)</span></a></li>
            <li><a href="#">Drinks <span>(42)</span></a></li>
            <li><a href="#">Foods <span>(14)</span></a></li>
            <li><a href="#">Travel <span>(140)</span></a></li>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Recent Forums</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(assets/images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(assets/images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(assets/images/image_3.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">menu</a>
            <a href="#" class="tag-cloud-link">food</a>
            <a href="#" class="tag-cloud-link">sweet</a>
            <a href="#" class="tag-cloud-link">tasty</a>
            <a href="#" class="tag-cloud-link">delicious</a>
            <a href="#" class="tag-cloud-link">desserts</a>
            <a href="#" class="tag-cloud-link">drinks</a>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Paragraph</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
        </div>
      </div>

    </div>
  </div>
</section> <!-- .section -->

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

