.parent {
  border-radius: 25px;
  background-color: rgba(230,235,255,0.53);
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: left;
}
.child {
  margin-right: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.fixed-height{
  height:55px;
}
.heart{
  margin-right:2rem;
  margin-left:2rem;
  cursor:pointer;}
.custom-input {
  background-color: #b8daff;
  border-radius: 0 0.5rem 0.5rem 0.5rem; /* Adjust the radius value as per your preference */
}


.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


