<app-loading-page></app-loading-page>
<div class="wrapper">
  <header>Réinitialiser votre mot de passe</header>
  <form action="#">
    <div class="field email">
      <div class="input-area">
        <input type="text" placeholder="Token" [(ngModel)]="token" name="token">

      </div>

    </div>
    <div class="field password">
      <div class="input-area">
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Password">

      </div>

    </div>

    <input type="submit" value="Réinitialiser" (click)="reset()">
  </form>

</div>
