
<div class="wrapper">
  <div class="top">
    <i class="fas fa-envelope-open-text"></i>
  </div>
  <div class="bottom">
    <div class="info">
      Veuillez entrer votre adresse e-mail pour change votre mot de passe.
    </div>
    <form action="#">
      <div class="input-box">
        <input type="text" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="submit" value="Envoyer" (click)="reset()">
      </div>
    </form>

  </div>
</div>
