.headers{
    display: flex;
    justify-content: space-between;
}
.navigation{
    MARGIN-LEFT: 42% !important;
    MARGIN-TOP: 6% !important;
}
.inp{
    margin-left: 32%;
    height: 2% !important;
    width: 25%;
}