<app-current-user></app-current-user>
<div *ngIf="data!=null" class="tab-content" id="v-pills-tabContent">

  <div *ngFor="let d of data" class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
    <div class="speaker-wrap ftco-animate d-flex">
      <div class="img speaker-img" style="background-image: url(assets/images/person_1.jpg);"></div>
      <div class="text pl-md-5">
        <span class="time">{{d.datePub}}</span>
        <h2><a href="#">{{d.messageId}}</a></h2>
        <p>{{d.contenu}}</p>
        <h3 class="speaker-name">&mdash; <a href="#">{{d.user.username}}</a> <span class="position"></span></h3>
      </div>
    </div>
  </div>
</div>


