<app-loading-page></app-loading-page>
<app-current-user></app-current-user>
<main *ngIf="role==Role.admin" class="main-content position-relative border-radius-lg ">
  <div class="container-fluid py-4">
    <div class="row mt-4">
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card ">
          <div class="card-header pb-0 p-3">
            <div class="d-flex justify-content-between" style="display: flex;justify-content: space-between;padding-bottom: 25px">
              <h6 class="mb-2">New Stock</h6>
              <h6 (click)="addNewForm()" style="cursor: pointer" class="mb-2 addLink"><a>Add</a></h6>
            </div>
          </div>
          <div class="table-responsive" style="min-height:327px">
            <ul class="no-margin">
              <li style="display: flex;">
                <div style="border-radius: 20px 0 0 0;" class="table-cell centered-div">
                  <label style="font-size: 20px">Name</label>
                </div>
                <div class="table-cell centered-div">
                  <label style="font-size: 20px">Unit Price</label>
                </div>
                <div style="border-radius:0 20px 0 0 ;" class="table-cell centered-div">
                  <label style="font-size: 20px">Stock</label>
                </div>
              </li>
            </ul>

            <ul class="example-box no-margin" *ngFor="let r of products; let i = index">
              <li style="display: flex;">
                <div class="table-row centered-div"[ngClass]="{'table-row': true, 'centered-div': true, 'first-cell': i === products.length - 1,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <input style="background-color: transparent" class="table-quantity-input" type="text" [(ngModel)]="r.nameProduct">
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <input style="background-color: transparent" class="table-quantity-input" type="number" min="0" [(ngModel)]="r.price">
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <input style="background-color: transparent" class="table-quantity-input" [(ngModel)]="r.stock"   type="number" min="0" (ngModelChange)="removeIfZero(r)">
                </div>
                <div [ngClass]="{'table-row': true, 'clearLink': true, 'centered-div': true, 'last-cell': i === products.length - 1, 'last-cell-first-line': i === 0,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}" style="cursor:pointer">
                  <a (click)="remove(r)">Remove</a>
                </div>
              </li>
            </ul>

          </div>
          <div style="padding-right: 25px">
            <div class="d-flex align-items-center">
              <button (click)="SaveProducts(3)" (mouseenter)="SaveProducts(1)"(mouseleave)="SaveProducts(2)"  class="btnn btn-sm ms-auto">
                <img src={{saveImageSrc}} height="16rem"width="auto">
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-5">
        <div class="card">
          <div class="card-header pb-0 p-3">
            <div class="d-flex justify-content-between" style="display: flex;justify-content: space-between;padding-bottom: 25px">
              <h6 class="mb-2">Update Stock</h6>
            </div>
          </div>
          <div style="align-items: center;align-content: center">
            <ul class="no-margin">
              <li style="display: flex;">
                <div style="border-radius: 20px 0 0 0;" class="table-cell centered-div">
                  <label style="font-size: 20px">Name</label>
                </div>
                <div class="table-cell centered-div">
                  <label style="font-size: 20px">Unit Price</label>
                </div>
                <div style="border-radius:0 20px 0 0 ;" class="table-cell centered-div">
                  <label style="font-size: 20px">Stock</label>
                </div>
              </li>
            </ul>
            <ul class="example-box no-margin" *ngFor="let r of stock; let i = index"  class="list-group">
              <li style="display: flex;">
                <div class="table-row centered-div"[ngClass]="{'table-row': true, 'centered-div': true, 'first-cell': i === stock.length - 1,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <input style="background-color: transparent" class="table-quantity-input" type="text"  [(ngModel)]="r.nameProduct">
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <input style="background-color: transparent" class="table-quantity-input" type="number" min="0"  [(ngModel)]="r.price">
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <input style="background-color: transparent" class="table-quantity-input" [(ngModel)]="r.stock"   type="number" min="0" (ngModelChange)="removeIfZero(r)">
                </div>
                <div [ngClass]="{'table-row': true, 'clearLink': true, 'centered-div': true, 'last-cell': i === stock.length - 1, 'last-cell-first-line': i === 0,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}" style="cursor:pointer;">
                  <a *ngIf="!(selectedId==r.productId)" (click)="selectDelete(r)">Delete</a>
                  <div *ngIf="DeleteWarning&&(selectedId==r.productId)">
                    <label>Are you sure!</label>
                    <div style="display: flex;justify-content: space-between;">
                    <a (click)="deleteFromStock(r)">Yes</a>
                    <a (click)="selectDelete(r)">No</a>
                    </div>
                  </div>
                  </div>
              </li>
            </ul>
          </div>
          <div style="padding-right: 25px">
            <div class="d-flex align-items-center">
              <button (click)="UpdateProducts(3)" (mouseenter)="UpdateProducts(1)"(mouseleave)="UpdateProducts(2)"  class="btnn btn-sm ms-auto">
                <img src={{updateImageSrc}} height="16rem"width="auto">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer pt-3  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>

