<app-loading-page></app-loading-page>

<app-current-user></app-current-user>
<main *ngIf="currentUser.roles.includes(Role.organiser)" class="main-content position-relative border-radius-lg ">
  <div class="container-fluid py-4">
    <div class="row mt-4">
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card ">
          <div class="card-header pb-0 p-3">
            <div class="d-flex justify-content-between" style="display: flex;justify-content: space-between;">
              <h6 class="mb-2">Event Inventory</h6>
              <h6 class="mb-2">Total is : {{calculateTotal()}}&nbsp;tnd</h6>
            </div>
          </div>
            <div class="table-responsive" style="min-height:232px" cdkDropList
                   #eventProducts="cdkDropList"
                   [cdkDropListData]=products
                   [cdkDropListConnectedTo]="[stockList]"
                   (cdkDropListDropped)="drop($event)"
                   [cdkDropListEnterPredicate]="alreadyPredicate">
              <ul class="no-margin">
                <li style="display: flex;">
                  <div style="border-radius: 20px 0 0 0;" class="table-cell centered-div">
                      <label style="font-size: 20px">Name</label>
                  </div>
                  <div class="table-cell centered-div">
                      <label style="font-size: 20px">Unit Price</label>
                  </div>
                  <div class="table-cell centered-div">
                      <label style="font-size: 20px">Quantity</label>
                  </div>
                  <div style="border-radius:0 20px 0 0 ;" class="table-cell centered-div">
                    <label style="font-size: 20px">Total</label>
                  </div>
                </li>
              </ul>

              <ul class="example-box no-margin" *ngFor="let r of products; let i = index" cdkDrag [cdkDragData]="r">
              <li style="display: flex;">
                <div class="table-row centered-div"[ngClass]="{'table-row': true, 'centered-div': true, 'first-cell': i === products.length - 1,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                    <h6>{{r.nameProduct}}</h6>
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <h6>{{r.price}}&nbsp;tnd</h6>
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                     <input style="background-color: transparent" class="table-quantity-input" [(ngModel)]="r.quantity"  value="{{r.quantity}}" type="number" min="0" (ngModelChange)="removeIfZero(r)" [max]="isOutOfStock(r) ? r.quantity:9999"/>
                </div>
                <div [ngClass]="{'table-row': true, 'centered-div': true,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}">
                  <h6>{{r.price*r.quantity}}&nbsp;tnd</h6>
                </div>
                <div (click)="clear(r)" [ngClass]="{'table-row': true, 'clearLink': true, 'centered-div': true, 'last-cell': i === products.length - 1, 'last-cell-first-line': i === 0,'white-row': i % 2 === 0, 'grey-row': i % 2 !== 0}" style="cursor:pointer">
                  <a >Clear</a>
                </div>
              </li>
              </ul>

            </div>
          <div style="padding-right: 25px">
            <div class="d-flex align-items-center">
              <button (click)="SaveOrders(3)" (mouseenter)="SaveOrders(1)"(mouseleave)="SaveOrders(2)"  class="btnn btn-sm ms-auto">
                <img src={{saveImageSrc}} height="16rem"width="auto">
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-5">
        <div class="card">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Stock</h6>
          </div>
          <div cdkDropList
               #stockList="cdkDropList"
               [cdkDropListData]=stock
               [cdkDropListConnectedTo]="[eventProducts]"
               (cdkDropListDropped)="drop($event)"
               [cdkDropListEnterPredicate]="noReturnPredicate"
               class="card-body p-3">
            <ul class="example-box" *ngFor="let r of stock" cdkDrag [cdkDragData]="r" class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                    <i style="height: 30px;width: 30px"></i>
                  </div>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">{{r.nameProduct}}</h6>
                    <span *ngIf="checkStock(r) > 0" class="text-xs"><span class="font-weight-bold">{{checkStock(r)}} in stock</span></span>
                    <p *ngIf="checkStock(r) <= 0" class="error-message">Out of stock</p>
                  </div>
                </div>
                <div class="d-flex">
                  <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" ></i></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer pt-3  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>
